stages:
  - build
  - deploy

variables:
  REGISTRY: "registry.gitlab.com/jekky25-group/e-vlasov-laravel"

before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY

app_build:
  stage: build
  tags:
    - build
  only:
    - develop
  script:
    - echo $REGISTRY

