stages:
  - first
  - second
  - third

print_text:
  stage: first
  tags:
    - build
  only:
    - develop
  script:
    - echo $CI_COMMIT_SHA
    - echo $CI_COMMIT_TAG
    - echo $CI_COMMIT_TITLE

print_second:
  stage: second
  tags:
    - build
  only:
    - develop
  script:
    - echo $CI_REGISTRY_USER
    - echo $CI_REGISTRY
    - echo $CI_RUNNER_TAGS

print_third:
  stage: third
  tags:
    - build
  only:
    - develop
  script:
    - echo "Hello world third 12345!"
